@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto/Roboto-Regular.ttf") format("woff"),
    url("../assets/fonts/Roboto/Roboto-Regular.ttf") format("woff"),
    url("../assets/fonts/Roboto/Roboto-Regular.ttf") format("woff");
  font-weight: 400;
  font-style: normal;
}
